h1 {
    text-align: center;
}

p {
    text-align: center;
}

.default {
    background-color: white;
    color: black;
}

.inverse {
    background-color: black;
    color: white;
}

.xmas {
    background-color: forestgreen;
    color: darkred;
}

.candy {
    background-color:darkmagenta;
    color: gold;
}

.matrix {
    background-color: darkgreen;
    color:chartreuse;
}